{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 d-flex justify-content-center col-lg-offset-1">
            <form method="POST" enctype="multipart/form-data">
                <input  type="file" name="file">
                <p>Drag your files here or click in this area.</p>
                {% if error %}
                <h6>{{error}}</h6>
                {% else %}
                {% endif %}
                <button class="animate__animated animate__slideInUp" type="submit">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
